html {
  /* position: relative;
  height: 100%; */
}

body {
  background: url('extra_clean_paper.png') no-repeat;
  background-size: cover;
  font-family: 'Sriracha', cursive;
  /* margin-left: 1%;
  margin-right: 1%; */
  padding:0;
  padding-top: 80px;
  padding-bottom: 331px;
  overflow-x:hidden;
}

p {
  color: green;
}

li {
  padding: 5px;
  margin: 5px;
  /* background: #faebd7; */
}

.navbar-fixed-top, footer{
  -webkit-transform: translate3d(0, 0, 0);
  transform : translate3d(0, 0, 0);
}

.availableList {
  /* background: #6c6d6e; */
  /* width: 75%; */
}

.rentedList {
  /* background: #afb7e4; */
  /* width: 75%; */
}

.label {
  font-weight: bold;
}

.itemTitle{
  position: center;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


.site-footer {
  padding:0px 0;
  text-align:center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}



.site-footer h5 {
  color:black;
  font-size:20px;
  font-weight: 600;
  margin-left:10px;
}

.footer-padding{
  padding-top:10px;
}

.inline-block {
  display: inline-block;
  padding-bottom: 0px;
}



#myFooter {
  background-color: #373a48;
  color:white;
}

#myFooter .footer-copyright{
  background-color: #383737;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
}

#myFooter .footer-copyright p{
  margin:10px;
  color: #ccc;
}

#myFooter ul{
  list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
  font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
  color:#d2d1d1;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
  text-decoration: none;
  color:white;
}

#myFooter .myCols{
  text-align: center;
  background-color: #373a48;
}

#myFooter .myColsrow{
  background-color: #373a48;
  width: 100%;
  margin-top: -20px;
}

#myFooter .social-networks{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
  background-color: #373a48;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
  text-decoration: none;

}

#myFooter .facebook:hover{
  color:#0077e2;
}

#myFooter .google:hover{
  color:#ef1a1a;
}

#myFooter .twitter:hover{
  color: #00aced;
}






#myFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 251px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #373a48;
}

/**/

/* #myFooter{
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
} */

.img-thumbnail .img {
  position: relative;
}

.img-thumbnail:nth-child(2n) {
  margin-right: 50px;
}

.network .img-responsive {
  max-width: 29%;
  max-height: auto;
}

.img-fluid {
  max-width: 80%;
  max-height: auto;
  float: left;
}

.contactme {
  position: center;
}