 <footer id="myFooter">
        <div class="myColsrow">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="footer-copyright">
            <p>© 2018 Copyright Text </p>
        </div>
        {{!-- <div class="contactme">
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h2 class="panel-title" id="cwm">Connect with me</h2>
                </div>
                <div class="panel-body">
                    <a class="network" href="https://github.com/drunnals313" target="_blank">
                        <img class="img-thumbnail img-responsive" src="assets/images/github.png" alt="Dave's GitHub!">
                    </a>
                    <a class="network" href="https://www.linkedin.com/in/david-runnals-servant-leader" target="_blank">
                        <img class="img-thumbnail img-responsive" src="assets/images/linkedin.png" alt="Connect with Dave on LinkedIn">
                    </a>
                    <a class="network" href="https://stackoverflow.com/users/9392288/drunnals" target="_blank">
                        <img class="img-thumbnail img-responsive" src="assets/images/stackoverflow.png" alt="Come visit me on Stack Overflow">
                    </a>
                </div>
            </div>
        </div>
        </div> --}}
    </footer>