
    <nav class="navbar navbar-default navbar-fixed-top" id="main-nav-bar">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/success">
			       	<img alt="Pak-N-Play" src="assets/images/placeholder.jpg" id="main-navbar-logo">
		       	</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="">
			          <a href="/">Home<span class="sr-only">(current)</span></a>
			        </li>
			        <li>
			        	<a href="/logout" id="sign-nav-link">Sign Out {{user}}</a>
			        </li>
			        <li>
			          <a href="/all-listings">All Items</a>
			        </li>
			        <li>
			          <a href="/leaderboard">Donate or Lend New Items</a>
			        </li>
			      </ul>
	
			    </div>
	</nav>